{
  "extends": ["eslint:recommended", "plugin:import/recommended", "prettier"],
  "plugins": ["deprecation"],
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "project": "./tsconfig.json"
  },
  "rules": {
    "curly": ["warn", "multi-line", "consistent"],
    "no-unused-vars": ["error", { "args": "none" }],
    "no-constant-condition": ["error", { "checkLoops": false }],
    "import/extensions": ["warn", "always", { "ts": "never" }],
    "deprecation/deprecation": "warn",
    "no-throw-literal": "error"
  }
}
