#Warp's Git Script (Only going to be used on ma branch - WW)
git.sh
# Adding Caretaker
Caretaker/*
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
# Runtime data
pids
*.pid
*.seed
*.pid.lock
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# other
.DS_Store

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# next.js build output
.next

# texture cache
cache

# api credentials
credentials.json

# db
db.json
Caretaker/
Caretaker/checkstat.sh

# custom dyed leather armor cache
public/resourcepacks/**/leatherCache

# IDE files
.vscode/

# compiled sass
public/resources/css/**

Caretaker/checkstat.sh
package-lock.json
