<!DOCTYPE html>
<html lang="en">
<head>
    <title>SkyCrypt</title>
    <meta name="description" content="A beautiful site for sharing your SkyBlock profile 🌹">
    <link rel="shortcut icon" href="/resources/img/logo_square.png" type="image/png">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta property="og:image" content="/resources/img/logo_square.png">
    <meta property="og:title" content="SkyBlock Stats">
    <meta property="og:description" content="A beautiful site for sharing your SkyBlock profile 🌹">
    <%- include('../includes/resources') %>
    <style>
    @media (max-width: 480px){
        #search_user{
            display: none;
        }

        header{
            height: 45px;
            text-align: center;
            width: 100vw;
        }

        header::after{
            top: 45px;
        }

        #info_box{
            top: 45px;
        }
    }
    </style>
</head>
    <body>
        <%- include('../includes/header') %>
        <div id="api_bg_blur"></div>
        <div id="enter_player_box_wrapper">
            <div id="enter_player_box">
                <p>API Documentation</p>
            </div>
        </div>
    </body>
</html>
