<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-185827357-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-185827357-1');
    </script>
    <title>API Documentation | SkyCrypt</title>
    <meta name="description" content="A beautiful site for sharing your SkyBlock profile ðŸ£">
    <link rel="icon" href="/resources/img/logo_square.svg" sizes="any" type="image/svg+xml">
    <meta property="og:image" content="/resources/img/logo_square.svg">
    <meta property="og:title" content="SkyCrypt">
    <meta property="og:description" content="A beautiful site for sharing your SkyBlock profile ðŸ£">

    <%- include('../includes/resources') %>
</head>
    <body>
        <%- include('../includes/header') %>

        <!-- Redoc Library-->
        <redoc id="docs"></redoc>
        <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>
        <script>
            themeColors = extra.themes[localStorage.getItem("currentTheme")].colors;
            Redoc.init(
                'resources/api/api_docs.json',
                {
                    scrollYOffset: 'header',
                    theme: {
                        colors: {
                            primary: {
                                main: themeColors.icon,
                            }
                        }
                    }
                },
                document.getElementById('docs')
            );
        </script>

        <%- include('../includes/footer'); %>
    </body>
</html>
