<!DOCTYPE html>
<html lang="en">
<head>
  <title>API Documentation | SkyCrypt</title>
  <meta name="description" content="A beautiful site for sharing your SkyBlock profile ðŸ£">
  <link rel="icon" href="/resources/img/logo_square.svg" sizes="any" type="image/svg+xml">
  <meta property="og:image" content="/resources/img/logo_square.svg">
  <meta property="og:title" content="SkyCrypt">
  <meta property="og:description" content="A beautiful site for sharing your SkyBlock profile ðŸ£">

  <%- include('../includes/resources') %>
</head>
  <body>
    <%- include('../includes/header') %>

    <!-- Redoc Library-->
    <redoc id="docs"></redoc>
    <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>
    <script>
      function redocInit(color) {
        Redoc.init(
          '/resources/api/api_docs.json',
          {
            scrollYOffset: 'header',
            theme: {
              colors: {
                primary: {
                  main: color ?? "#0bda51",
                }
              }
            }
          },
          document.getElementById('docs')
        );
      }
      redocInit(JSON.parse(localStorage.getItem("processedTheme"))?.styles?.["--icon-hex"]);
    </script>

    <%- include('../includes/footer'); %>
  </body>
</html>
