<!DOCTYPE html>
<html lang="en">
<head>
    <title>API Documentation | SkyCrypt</title>
    <meta name="description" content="A beautiful site for sharing your SkyBlock profile ðŸ£">
    <link rel="shortcut icon" href="/resources/img/logo_square.png?v2" type="image/png">
    <link rel="icon" href="/favicon.ico?v2" type="image/x-icon">
    <meta property="og:image" content="/resources/img/logo_square.png?v2">
    <meta property="og:title" content="SkyCrypt">
    <meta property="og:description" content="A beautiful site for sharing your SkyBlock profile ðŸ£">

    <%- include('../includes/resources') %>
    <style>
    @media (max-width: 480px){
        #search_user{
            display: none;
        }

        header{
            height: 45px;
            text-align: center;
            width: 100vw;
        }

        header::after{
            top: 45px;
        }

        #info_box{
            top: 45px;
        }
    }
    </style>
</head>
    <body>
        <%- include('../includes/header') %>

        <!-- Redoc Library-->
        <redoc id="docs" spec-url='resources/api/api_docs.json'></redoc>
        <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>

        <%- include('../includes/footer'); %>
    </body>
</html>
