<!DOCTYPE html>
<html>
    <head>
        <title>SkyBlock Stats</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/resources/css/index.css">
    </head>
    <body>
        <%- include('../includes/header') %>
        <div id="enter_player_box_wrapper">
            <div id="enter_player_box">
                <p>Show SkyBlock stats for</p>
                <input id="inp_enter_username" type="text" placeholder="Enter username">
                <a href="" id="goto_target_username">Show me</a>
            </div>
        </div>
        <script>
            let targetUsername = document.getElementById("inp_enter_username");

            targetUsername.addEventListener('keyup', e => {
                let playerName = targetUsername.value;

                if(playerName.trim().length == 0)
                    return;

                if(e.keyCode == 13)
                    document.location = `/stats/${playerName}`;
                else
                    document.querySelector('#goto_target_username').href = `/stats/${playerName}`;
            });
        </script>
    </body>
</html>
