# Please install this by moving the .service file to /etc/systemd/system/ 
# Also please move the Daemon script to /usr/bin/
[Unit]
Description=Caretaker Daemon for SkyCrypt by WarpWing

[Service]
ExecStart=/usr/bin/
Restart=on-failure

[Install]
WantedBy=multi-user.target 
