@font-face {
    font-family: "icomoon";
    src: url("/resources/fonts/icomoon/icomoon.eot?fgf09i");
    src: url("/resources/fonts/icomoon/icomoon.eot?fgf09i#iefix")
            format("embedded-opentype"),
        url("/resources/fonts/icomoon/icomoon.ttf?fgf09i") format("truetype"),
        url("/resources/fonts/icomoon/icomoon.woff?fgf09i") format("woff"),
        url("/resources/fonts/icomoon/icomoon.svg?fgf09i#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
