* {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html {
    background-color: black;
    background: no-repeat center center fixed;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    color: white;
    overflow-x: hidden;

    &::before {
        content: none;
    }
}

#packs-button,
#api_button {
    display: none;
}

header .lookup-player {
    visibility: hidden;
    max-width: none;
    * {
        display: none;
    }
}

@media (max-width: 480px) {
    header {
        justify-content: center;

        .lookup-player {
            display: none;
        }
    }
}

.api-content {
    padding-top: calc(env(safe-area-inset-top) + 48px);
}
