main.grid {
  box-sizing: border-box;
  min-height: calc(100vh - 48px);
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-items: stretch;
  place-content: center;
  gap: 20px;
  margin-top: calc(48px + env(safe-area-inset-top));
  padding-top: 20px;
  padding-bottom: max(20px, env(safe-area-inset-bottom));
  padding-left: max(20px, env(safe-area-inset-left));
  padding-right: max(20px, env(safe-area-inset-right));

  @media (max-width: 1200px) {
    grid-template-columns: 350px 350px;
  }
  @media (max-width: 772px) {
    grid-template-columns: 1fr;
  }

  > * {
    border-radius: 10px;
    -webkit-backdrop-filter: blur(16px) brightness(0.5);
    backdrop-filter: blur(16px) brightness(0.5);

    .light & {
      -webkit-backdrop-filter: blur(16px) contrast(40%) brightness(1.5);
      backdrop-filter: blur(16px) contrast(40%) brightness(1.5);
    }
  }

  .lookup-player {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 25px;
    padding: 25px 0;
    font-size: 30px;

    p {
      width: 100%;
      text-align: center;
      font-weight: 600;
      margin: 5px;
    }

    input {
      position: relative;
      width: 100%;
      height: 2.25em;
      text-align: center;
      font-size: inherit;
      box-sizing: border-box;
      background-color: rgba(var(--text-rgb), 0.1);
      border: 0;
      color: var(--text-hex);
      font-weight: normal;
      -webkit-appearance: none;
      border-radius: 0;

      &:-webkit-autofill,
      &:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
      }

      &::-webkit-search-cancel-button {
        position: absolute;
        top: 0;
        bottom: 0;
        height: unset;
        right: 0.5em;
      }
    }

    .big-green-button {
      display: flex;
      height: 48px;
      border-radius: 24px;
      padding: 0 24px;
      align-items: center;
      border: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: var(--icon-hex);
      color: white;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      transform: scale(1);
      transition: transform 0.15s ease-in-out, background-color 0.15s;
      will-change: transform;

      &:hover,
      &:focus {
        background-color: var(--link-hex);
        transform: scale(1.015);
      }
    }

    @media (max-width: 520px), (max-height: 550px) {
      gap: 15px;
      padding: 15px 0;
      font-size: 20px;

      .big-green-button {
        height: 32px;
        padding: 0 16px;
        font-size: 12px;
      }
    }
  }
}

main.grid > a,
.external-app {
  transform: scale(1);
  transition: transform 0.15s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.01);
  }

  :not(img) {
    opacity: 0.85;
    transition: opacity 0.15s ease-in-out;
  }

  &:hover :not(img),
  &:focus :not(img) {
    opacity: 1;
  }
}

#error_box_wrapper {
  position: relative;
  grid-column: 1 / -1;
  min-height: 70px;
  max-height: 500px;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }

  &:not(.show-error) {
    display: none;
  }
}

#error_title {
  font-weight: 600;
  background-color: var(--icon-hex);
  color: white;
  text-transform: uppercase;
  height: 70px;
  line-height: 70px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

#error_text {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 100px);
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

#error_subtext {
  display: block;
  top: 70px;
  right: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box;
}

#error_top {
  height: 70px;
}

#error_bottom {
  background-color: rgba(var(--text-rgb), 0.1);
}

.form-banner {
  position: relative;
  grid-column: 1 / -1;
  padding: 20px 20px 20px 90px;
  text-decoration: none;
  margin: 0;
  max-width: unset;

  .external-app-icon {
    width: 90px;
  }

  @media (max-width: 520px), (max-height: 550px) {
    .external-app-description {
      font-size: 14px;
    }
  }

  .try-also {
    color: rgba(var(--text-rgb), 0.6);

    // the width where the discord description starts to wrap
    @media (max-width: 737.5px) {
      display: none;
    }
  }
}

.top-profile {
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
}

.profile-avatar {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  image-rendering: crisp-edges;
  @supports (image-rendering: pixelated) {
    image-rendering: pixelated;
  }
}

.profile-name {
  position: absolute;
  left: 100px;
  top: 32px;
  color: var(--text-hex);
  font-weight: 600;
  font-size: 18px;

  .emoji {
    vertical-align: middle;
    height: 22px;
    margin-left: 5px;
    margin-top: -4px;
  }
}

.profile-last-online {
  position: absolute;
  left: 100px;
  top: 58px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(var(--text-rgb), 0.8);
}

.profile-rank {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  color: rgba(var(--text-rgb), 0.6);
}
