#wrapper {
  position: relative;
  margin-left: 30vw;
  --padding: 30px;
  padding: var(--padding);
  padding-top: calc(48px + env(safe-area-inset-top, 0));
  padding-bottom: calc(var(--padding) + env(safe-area-inset-bottom));
  min-height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  -webkit-backdrop-filter: blur(16px) brightness(0.5);
  backdrop-filter: blur(16px) brightness(0.5);

  .light & {
    -webkit-backdrop-filter: blur(16px) contrast(40%) brightness(1.5);
    backdrop-filter: blur(16px) contrast(40%) brightness(1.5);
  }
}

#base_stats_wrapper {
  grid-area: base;
}

#base_stats_container {
  columns: 200px auto;
  .basic-stat {
    margin-top: 0;
  }
  .stat-icon {
    font-size: 16px;
    line-height: 1;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    margin-right: 2px;
    display: inline-block;
  }
  .stat-name,
  .stat-value {
    font-size: 14px;
  }
}

#show_stats {
  display: none;
  border: none;
  width: 100%;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 1000px;
  color: inherit;
  background-color: rgba(var(--text-rgb), 0.1);
  &:hover,
  &:focus {
    background-color: rgba(var(--text-rgb), 0.15);
  }
}

#skill_levels_container {
  grid-area: skill;

  .skill-bars[data-api-enabled="false"] {
    skill-component {
      filter: grayscale(1) opacity(0.5);
    }
  }

  .no-access {
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    color: rgba(var(--text-rgb), 0.85);
    white-space: nowrap;
    grid-column: 1 / -1;
  }
}

.skill-bars {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px 24px;

  skill-component {
    position: relative;
    height: 36px;

    &[maxed] {
      --icon-hex: var(--maxed-hex);
      --skillbar: var(--maxedbar);
    }

    &[type="skyblock_level"] {
      margin-bottom: 25px;

      @media (min-width: 481px) {
        padding-right: 24px;
        width: 200%;
      }
    }

    .skill-icon {
      width: 36px;
      height: 36px;
      background-color: var(--icon-hex);
      border-radius: 50%;
      position: relative;
      z-index: 10;
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
      overflow: hidden;
      @supports (overflow: clip) {
        overflow: clip;
      }

      &::after {
        content: none;
      }

      .item-icon {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 128px;
        height: 128px;
        z-index: 10;
        transform: scale(0.2);
        transform-origin: top left;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
      }
    }

    .skill-name {
      position: absolute;
      left: 40px;
      top: 0;
      font-weight: 600;
      font-size: 14px;
      height: 22px;
      line-height: 22px;

      .skill-level {
        color: rgba(var(--text-rgb), 0.8);
      }
    }

    .skill-bar {
      --overhang: 18px;
      position: absolute;
      bottom: 0;
      left: 18px;
      padding-left: var(--overhang);
      right: 0;
      height: 14px;
      background-color: rgba(var(--text-rgb), 0.3);
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }
  }
}

.skill-progress-bar {
  width: calc((100% - var(--overhang)) * var(--progress));
  position: absolute;
  padding-left: var(--overhang);
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--skillbar);
  border-radius: inherit;

  .slayer-bar.maxed-slayer & {
    --skillbar: var(--maxedbar);
  }
}

.skill-progress-text {
  position: absolute;
  left: var(--overhang);
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-shadow: 0 0 3px rgba(var(--background-rgb), 0.5);
}

#skin_display {
  position: fixed;
  top: 20vh;
  left: 0;
  width: 30vw;
  bottom: 5vh;

  @media (max-width: 1590px) {
    display: none;
  }
}

#skin_display_mobile {
  grid-area: skin;
  position: relative;
  width: 100%;
  display: none;

  @media (max-width: 1590px) {
    display: initial;
  }
}

#player_model {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

#stats_content {
  position: fixed;
  right: calc(70vw + 20px);
  background-color: var(--lore_background-hex);
  min-width: 360px;
  width: max-content;
  max-width: min(500px, 100vw - 40px);
  z-index: 100;
  opacity: 0;
  transform: translateX(-25px);
  pointer-events: none;
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s, left 0.1s;
  visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }

  &.show-stats {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }

  &.sticky-stats {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
    user-select: text;
    z-index: 8000;
  }

  .item-lore {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overscroll-behavior: contain;
    font-size: 15px;

    a {
      text-decoration: none;
    }
  }

  .item-name {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    .stats-piece-icon__wrapper {
      width: 32px;
      height: 32px;
      overflow: hidden;
      flex: none;
      .stats-piece-icon {
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
        width: 128px;
        height: 128px;
        transform: scale(0.25);
        transform-origin: top left;
      }
    }

    .item-name__name {
      position: relative;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      color: white;
      text-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
      margin: 0;
      flex: 1;
      &[data-multicolor="true"] {
        background-color: var(--lore_background-hex);
        border-radius: 1rem;
        padding: 4px 10px;
        --§9: #929292;
        --§8: #929292;
        --§0: #929292;
      }
    }

    .close-lore {
      flex: none;
      display: none;
      width: 44px;
      height: 44px;
      background-image: url(/resources/img/icons/close.svg);
      background-size: 24px 24px;
      background-position: center center;
      background-repeat: no-repeat;
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
      background-color: rgb(255 255 255 / 0%);
      clip-path: circle(15px);
      &:hover,
      &:focus-visible {
        background-color: rgb(255 255 255 / 15%);
      }
    }
  }

  .item-lore {
    padding: 25px;
    font-weight: 600;

    .lore-row {
      display: block;
      min-height: calc(1em * 1.2);
      @supports (min-height: 1lh) {
        min-height: 1lh;
      }

      &.wrap {
        max-width: 300px;
      }
    }
  }

  .pack-credit {
    margin-top: 15px;
    position: relative;
    display: inline-block;
    text-align: left;
    padding: 10px;
    padding-left: 52px;
    font-size: 14px;
    border-radius: 10px;

    &:hover,
    &:focus-visible {
      background-color: rgb(var(--text-rgb), 0.05);

      * {
        text-decoration: underline;
      }
    }

    .icon {
      width: 32px;
      height: 32px;
      position: absolute;
      top: 12px;
      left: 10px;
      image-rendering: crisp-edges;
      @supports (image-rendering: pixelated) {
        image-rendering: pixelated;
      }
    }

    .author {
      color: rgba(var(--text-rgb), 0.6);

      span {
        color: rgba(var(--text-rgb), 0.8);
      }
    }
  }
}

.style-scrollbar #stats_content .item-lore {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

#player_profile {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px 8px;
  align-items: center;
}

#stats_for_player,
#stats_for_profile {
  position: relative;
  display: inline-block;
  color: var(--text-hex);
  font-weight: 600;
  cursor: context-menu;
  background-color: rgba(127, 127, 127, 0.2);
  border-radius: 100px;
  padding: 0 15px;
  height: 54px;
  line-height: 54px;
  vertical-align: middle;
  font-size: 30px;
}

#stats_for_player .emoji {
  vertical-align: middle;
  height: 28px;
  margin-top: -4px;
}

#stats_for_profile .emoji {
  vertical-align: middle;
  height: 32px;
  margin-top: -5px;
  margin-left: -5px;
}

.rank-tag {
  display: inline-flex;
  font-size: 18px;
  height: 34px;
  line-height: 34px;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 100px;
  vertical-align: top;
  font-weight: 700;
  color: white;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }

  .rank-name {
    padding: 0 15px;
  }

  .rank-plus {
    padding-right: 8px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -7px;
      right: 0;
      transform: skew(-20deg);
      background-color: inherit;
    }
  }

  div {
    display: inline-block;
  }
}

#other_players,
#other_profiles {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: rgba(var(--grey_background-rgb), 0.95);
  min-width: 260px;
  clip-path: ellipse(0% 0% at 0% 0%);
  transition: clip-path 0.3s, visibility 0.3s;
  visibility: hidden;
  border-radius: 17px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }

  :focus-within > &,
  :hover > & {
    clip-path: ellipse(200% 200% at 0% 0%);
    visibility: visible;
  }

  li {
    display: contents;

    .goto {
      display: block;
      color: var(--text-hex);
      text-decoration: none;
      padding: 20px;
      width: 100%;
      background-color: rgba(var(--text-rgb), 0);
      transition: background-color 0.2s;
      box-sizing: border-box;
      min-width: 200px;

      &:focus,
      &:hover {
        background-color: rgba(var(--text-rgb), 0.2);
        outline: none;
      }

      span {
        display: block;
      }
    }
  }

  .goto-last-played {
    font-size: 15px;
    color: rgba(var(--text-rgb), 0.8);
    line-height: normal;
  }
}

#additional_player_stats {
  font-size: 15px;
  position: relative;
  width: 100%;
}

.additional-player-stat {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  padding: 0 12px;
  border: none;
  margin-right: 7px;
  margin-top: 15px;
  height: 29px;
  line-height: 29px;
  box-sizing: border-box;
  background-color: rgba(var(--icon-rgb), 0.9);
  display: inline-block;
  border-radius: 99999px;
  text-decoration: none;
  color: white;
  font-size: inherit;
  font-weight: 600;
  transition: background-color 0.1s;
  vertical-align: top;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

  &:hover::after {
    color: rgba(255, 255, 255, 0.9);
  }
}

button.additional-player-stat {
  cursor: pointer;
}

#reveal_socials {
  width: 29px;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  background-image: url(/resources/img/icons/chevron-right.png);
  background-position: center center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  user-select: none;

  &.socials-shown {
    background-image: url(/resources/img/icons/chevron-left.png);
  }

  &::after {
    content: "";
  }
}

#additional_socials {
  display: inline-block;
  transition: max-width 0.2s;
}

#additional_socials .additional-player-stat:not(#reveal_socials) {
  display: none;
}

#additional_socials.socials-shown .additional-player-stat {
  display: inline-block !important;
}

.addition-player-stat::after {
  pointer-events: none;
}

.additional-player-stat:focus-visible,
.additional-player-stat:hover {
  background-color: var(--icon-hex);
}

a.additional-player-stat:hover {
  color: white;
}

.additional-player-stat.external-link {
  padding-right: 35px;
}

.additional-player-stat.external-link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
  width: 20px;
  background-image: url(../img/icons/open-in-new.png);
  background-position: 0 center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

.additional-player-stat.external-icon:not(.external-discord),
.additional-player-stat.svg-icon {
  width: 29px;
  padding: 0;
}

.additional-player-stat.external-discord {
  padding-right: 12px;
  padding-left: 30px;
}

.additional-player-stat.external-icon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-position: center center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

.additional-player-stat.external-icon.external-discord::after {
  left: 8px;
  right: auto;
  width: 20px;
  background-position: 0 center;
}

.additional-player-stat.copy-text {
  cursor: copy;
  user-select: none !important;
}

.additional-player-stat.svg-icon {
  display: inline-grid;
  place-items: center;
}

.additional-player-stat.svg-icon svg {
  width: 18px;
  height: 18px;
}

.additional-player-stat.svg-icon.favorite svg {
  width: 20px;
  height: 20px;
}

.additional-player-stat.favorite:not([aria-checked="true"]) .solid {
  visibility: hidden;
}

.additional-player-stat.favorite[aria-checked="true"] .outline {
  visibility: hidden;
}

.additional-player-stat.external-twitter::after {
  background-image: url(../img/icons/twitter.png);
}

.additional-player-stat.external-youtube::after {
  background-image: url(../img/icons/youtube.png);
}

.additional-player-stat.external-twitch::after {
  background-image: url(../img/icons/twitch.png);
}

.additional-player-stat.external-instagram::after {
  background-image: url(../img/icons/instagram.png);
}

.additional-player-stat.external-discord::after {
  background-image: url(../img/icons/discord.svg?v3);
}

.additional-player-stat.external-hypixel::after {
  background-image: url(../img/icons/hypixel.png);
}

#basic_stats {
  display: grid;
  grid-template-areas:
    "skill"
    "base"
    "additional";
  gap: 24px;
  padding: var(--padding);
  margin-left: calc(-1 * var(--padding));
  margin-right: calc(-1 * var(--padding));
  background-color: rgba(var(--background-rgb), 0.3);
  @media (max-width: 1590px) {
    grid-template-areas:
      "skill skill"
      "skin base"
      "skin additional";
    grid-template-columns: 160px 1fr;
  }
  @media (max-width: 650px) {
    grid-template-areas:
      "skill skill"
      "base base"
      "skin additional";
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 480px) {
    grid-template-areas:
      "skin additional"
      "skill skill"
      "base base";
    grid-template-columns: 90px 1fr;
    gap: 24px 12px;
  }
}

#additional_stats_container {
  grid-area: additional;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.75;

  .additional-stat {
    display: inline-block;
    margin-right: 6px;

    @media (max-width: 650px) {
      display: block;
    }
  }
}
#nav_bar {
  position: sticky;
  top: calc(48px + env(safe-area-inset-top, 0));
  margin-left: calc(-1 * var(--padding));
  margin-right: calc(-1 * var(--padding));
  text-align: center;
  padding-bottom: 6px;
  white-space: nowrap;
  z-index: 25;

  #nav_bar_line {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 2px;
    background-color: var(--icon-hex);
    z-index: 2;
  }

  #nav_bar_background {
    background-color: rgba(var(--background-rgb), 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 1;
  }
  &.stuck #nav_bar_background {
    background-color: rgba(20, 20, 20, 0.9);
    .light & {
      background-color: rgba(240, 240, 240, 0.92);
    }
  }

  #nav_items_container {
    position: relative;
    width: 100%;
    padding-bottom: 6px;
    z-index: 3;
    overflow-x: auto;

    .nav-item {
      display: inline-block;
      padding: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-left: 8px;
      font-weight: 600;
      transition: background-color 0.1s, color 0.1s;
      position: relative;
      color: rgba(var(--text-rgb), 0.8);
      text-decoration: none;

      &:last-child {
        margin-right: 8px;
      }

      &[aria-current] {
        color: rgba(var(--text-rgb), 1);
      }

      &:focus-visible {
        outline: 1px white currentColor;
        outline-offset: -6px;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        top: 100%;
        background-color: var(--icon-hex);
        border-radius: 4px;
        transition: height 0.1s, top 0.1s;
      }

      &[aria-current]::after {
        height: 8px;
        top: calc(100% - 3px);
      }
      @media (hover: hover) {
        &:hover::after {
          height: 8px;
          top: calc(100% - 3px);
        }
      }
    }
  }
}

.stat-health,
.stat-strength,
.stat-ferocity,
.stat-ability-damage,
.color-health,
.color-strength,
.color-ferocity,
.color-ability-damage {
  color: var(--§c);
}

.stat-defense,
.color-defense {
  color: var(--§a);
}

.stat-speed,
.color-speed {
  color: var(--§f);
}

.stat-crit-chance,
.stat-crit-damage,
.color-crit-chance,
.color-crit-damage {
  color: var(--§9);
}

.stat-bonus-attack-speed,
.color-bonus-attack-speed {
  color: var(--§e);
}

.stat-intelligence,
.color-intelligence {
  color: var(--§b);
}

.stat-sea-creature-chance,
.color-sea-creature-chance {
  color: var(--§3);
}

.stat-magic-find,
.color-magic-find {
  color: var(--§b);
}

.stat-pet-luck,
.color-pet-luck {
  color: var(--§d);
}

.stat-ability-damage,
.color-ability-damage {
  color: var(--§c);
}

.stat-mining-speed,
.color-mining-speed {
  color: var(--§6);
}

.stat-mining-fortune,
.color-mining-fortune {
  color: var(--§6);
}

.stat-farming-fortune,
.color-farming-fortune {
  color: var(--§6);
}

.stat-foraging-fortune,
.color-foraging-fortune {
  color: var(--§6);
}

.stat-pristine,
.color-pristine {
  color: var(--§5);
}

.stat-true-defense,
.color-true-defense {
  color: var(--§f);
}

.stat-container {
  margin-top: 35px;
  position: relative;

  &:first-child {
    margin-top: 80px;
  }
}

.stat-content {
  box-sizing: border-box;
  margin-top: 25px;
}

.info-container-wrapper ~ .stat-misc {
  margin-top: 35px !important;
}

.accessory-list .stat-sub-header {
  margin-bottom: 5px;
}

.accessory-list:nth-of-type(2) {
  margin-top: 25px;
}

.stat-anchor {
  display: block;
  position: relative;
  top: calc(-120px - env(safe-area-inset-top, 0));
  visibility: hidden;
}

.stat-header {
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  font-size: 24px;
  text-shadow: 0 0 7px rgba(var(--background-rgb), 0.3);
  position: relative;
  padding-left: 5px;
  margin-bottom: 15px;
  text-decoration: underline 4px var(--icon-hex);
  text-underline-position: under;
}

.info-container {
  background-color: rgba(var(--background-rgb), 0.3);
  margin-bottom: 0;
  padding: 20px;
  padding-top: 55px;
  position: relative;
  display: inline-block;
  text-align: center;
  max-width: 500px;
  border-radius: 10px;
  font-weight: 500;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }

  span {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    width: 100%;
  }
}

.info-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  line-height: 35px;
  background-color: var(--icon-hex);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: 19px;
}

.wardrobe {
  margin-top: 12px !important; // override .pieces
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  .wardrobe-set {
    flex-shrink: 0;
    display: grid;
    gap: inherit;
    grid-template-areas: "helmet" "chestplate" "leggings" "boots";

    .piece {
      margin: 0;

      &.armor-placeholder {
        background-color: rgba(var(--background-rgb), 0.3);
        .piece-icon {
          background: rgba(var(--text-rgb), 0.8);
        }
      }

      &.index-0 {
        grid-area: helmet;
        &.armor-placeholder .piece-icon {
          mask-image: url("/resources/img/textures/item/empty_armor_slot_helmet.png");
          -webkit-mask-image: url("/resources/img/textures/item/empty_armor_slot_helmet.png");
        }
      }
      &.index-1 {
        grid-area: chestplate;
        &.armor-placeholder .piece-icon {
          mask-image: url("/resources/img/textures/item/empty_armor_slot_chestplate.png");
          -webkit-mask-image: url("/resources/img/textures/item/empty_armor_slot_chestplate.png");
        }
      }
      &.index-2 {
        grid-area: leggings;
        &.armor-placeholder .piece-icon {
          mask-image: url("/resources/img/textures/item/empty_armor_slot_leggings.png");
          -webkit-mask-image: url("/resources/img/textures/item/empty_armor_slot_leggings.png");
        }
      }
      &.index-3 {
        grid-area: boots;
        &.armor-placeholder .piece-icon {
          mask-image: url("/resources/img/textures/item/empty_armor_slot_boots.png");
          -webkit-mask-image: url("/resources/img/textures/item/empty_armor_slot_boots.png");
        }
      }
    }

    @media (hover: hover) {
      max-height: 360px;
      overflow: hidden;
      overflow: clip;
      transition: max-height 0.2s, gap 0.2s;
      .armor-placeholder {
        transition: height 0.2s;
        .piece-icon {
          transition: mask-size 0.2s, -webkit-mask-size 0.2s;
        }
      }

      &:not(:hover):not(:focus-within) {
        max-height: 75px;
        gap: 0;
        .armor-placeholder {
          height: 0;
          .piece-icon {
            mask-size: 128px 0;
            -webkit-mask-size: 128px 0;
          }
        }
      }
    }
  }
  @media (hover: none) {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: calc(-1 * var(--padding));
    margin-right: calc(-1 * var(--padding));
    content-visibility: auto;
    contain-intrinsic-size: 75px 330px;

    > :first-child {
      margin-inline-start: var(--padding);
    }
    > :last-child {
      margin-inline-end: var(--padding);
    }
  }
}

.piece {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;
  vertical-align: top;
  margin-right: 8px;
  margin-top: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  user-select: none;
  cursor: context-menu;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: rgba(var(--text-rgb), 0) 0 0 0 0 inset;
  content-visibility: auto;

  &.sticky-stats,
  &:focus {
    box-shadow: rgba(var(--text-rgb), 0.9) 0 0 0 4px inset;
  }
}

.rich-item {
  cursor: pointer;
  @media (hover: hover) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 20;
      transition: background-color 0.2s;
      border-radius: 5px;
      pointer-events: none;
    }
    &.sticky-stats::after,
    &:hover::after {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .item-count {
    position: absolute;
    z-index: 16;
    bottom: calc(var(--inventory-width) * 0.0025);
    right: calc(var(--inventory-width) * 0.0025);
    font-size: calc(var(--inventory-width) * 0.03333);
    color: white;
    text-shadow: 0.1em 0.1em 0.1em black;
    font-weight: 600;
  }
}

.pieces {
  margin-top: -12px;
}

.stat-weapons {
  margin-bottom: -10px;
}

@keyframes flash {
  from {
    background-color: rgb(255, 255, 255, 1);
  }

  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

.updated {
  animation-name: flash;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  border-radius: 2px;
}

.piece-shine {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  overflow: hidden;
  @supports (contain: paint) {
    overflow: initial;
    contain: paint;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(-100%);
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(128, 186, 232, 0) 99%,
      rgba(125, 185, 232, 0) 100%
    );
    z-index: 8;
    animation: shine 4s infinite;
  }
}

@keyframes shine {
  0% {
    transform: translateY(120%);
  }

  33% {
    transform: translateY(-120%);
  }

  100% {
    transform: translateY(-120%);
  }
}

.item-icon.is-enchanted {
  filter: url(#enchanted-glint);
  #stats_content &.stats-piece-icon,
  &.piece-icon {
    filter: url(#enchanted-glint) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  }
}

.piece-icon {
  position: absolute;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  z-index: 15;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transform-origin: center center;
  image-rendering: crisp-edges;
  @supports (image-rendering: pixelated) {
    image-rendering: pixelated;
  }
}

.custom-icon {
  background-size: 128px auto;
  background-repeat: no-repeat;
  background-position: center center !important;
  mask-size: 128px 128px;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: 128px 128px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
}

.piece-supreme-bg,
.style-scrollbar .piece-supreme-bg + .item-lore::-webkit-scrollbar-thumb {
  background-color: var(--§4);
}
.piece-supreme-bg + .item-lore {
  scrollbar-color: var(--§4) transparent;
}
.piece-supreme-fg {
  color: var(--§4) !important;
}

.piece-very_special-bg,
.style-scrollbar .piece-very_special-bg + .item-lore::-webkit-scrollbar-thumb {
  background-color: var(--§c);
}
.piece-very_special-bg + .item-lore {
  scrollbar-color: var(--§c) transparent;
}
.piece-very_special-fg {
  color: var(--§c) !important;
}

.piece-special-bg,
.style-scrollbar .piece-special-bg + .item-lore::-webkit-scrollbar-thumb {
  background-color: var(--§c);
}
.piece-special-bg + .item-lore {
  scrollbar-color: var(--§c) transparent;
}
.piece-special-fg {
  color: var(--§c) !important;
}

.piece-divine-bg,
.style-scrollbar .piece-divine-bg + .item-lore::-webkit-scrollbar-thumb {
  background-color: var(--§b);
}
.piece-divine-bg + .item-lore {
  scrollbar-color: var(--§b) transparent;
}
.piece-divine-fg {
  color: var(--§b) !important;
}

.piece-mythic-bg,
.style-scrollbar .piece-mythic-bg + .item-lore::-webkit-scrollbar-thumb {
  background-color: var(--§d);
}
.piece-mythic-bg + .item-lore {
  scrollbar-color: var(--§d) transparent;
}
.piece-mythic-fg {
  color: var(--§d) !important;
}

.piece-legendary-bg,
.style-scrollbar .piece-legendary-bg + .item-lore::-webkit-scrollbar-thumb {
  background-color: var(--§6);
}
.piece-legendary-bg + .item-lore {
  scrollbar-color: var(--§6) transparent;
}
.piece-legendary-fg {
  color: var(--§6) !important;
}

.piece-epic-bg,
.style-scrollbar .piece-epic-bg + .item-lore::-webkit-scrollbar-thumb {
  background-color: var(--§5);
}
.piece-epic-bg + .item-lore {
  scrollbar-color: var(--§5) transparent;
}
.piece-epic-fg {
  color: var(--§5) !important;
}

.piece-rare-bg,
.style-scrollbar .piece-rare-bg + .item-lore::-webkit-scrollbar-thumb {
  background-color: var(--§9);
}
.piece-rare-bg + .item-lore {
  scrollbar-color: var(--§9) transparent;
}
.piece-rare-fg {
  color: var(--§9) !important;
}

.piece-uncommon-bg,
.style-scrollbar .piece-uncommon-bg + .item-lore::-webkit-scrollbar-thumb {
  background-color: var(--§a);
}
.piece-uncommon-bg + .item-lore {
  scrollbar-color: var(--§a) transparent;
}
.piece-uncommon-fg {
  color: var(--§a) !important;
}

.piece-common-bg,
.style-scrollbar .piece-common-bg + .item-lore::-webkit-scrollbar-thumb {
  background-color: var(--§f);
}
.piece-common-bg + .item-lore {
  scrollbar-color: var(--§f) transparent;
}
.piece-common-fg {
  color: var(--§f) !important;
}

.piece.piece-rarity-upgrade-1 {
  --upgraded-from: #000;
  background-image: linear-gradient(to top right, transparent 0 90%, var(--upgraded-from) 90% 100%);

  &.piece-very_special-bg {
    --upgraded-from: var(--§c);
  }
  &.piece-special-bg {
    --upgraded-from: var(--§4);
  }
  &.piece-supreme-bg {
    --upgraded-from: var(--§b);
  }
  &.piece-divine-bg {
    --upgraded-from: var(--§d);
  }
  &.piece-mythic-bg {
    --upgraded-from: var(--§6);
  }
  &.piece-legendary-bg {
    --upgraded-from: var(--§5);
  }
  &.piece-epic-bg {
    --upgraded-from: var(--§9);
  }
  &.piece-rare-bg {
    --upgraded-from: var(--§a);
  }
  &.piece-uncommon-bg {
    --upgraded-from: var(--§f);
  }
}

.stat-sub-header {
  font-size: 20px;
  color: rgba(var(--text-rgb), 0.9);
  font-weight: 600;

  &::after {
    content: "";
  }
}

.extender {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  padding-left: 0;
  padding-right: 4px;
  border: none;
  margin: 1em 0;
  background: none;
  transition: color 0.1s;

  &:hover,
  &:focus-visible {
    color: var(--text-hex);
  }

  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    background-color: currentColor;
    -webkit-mask-image: url(/resources/img/icons/chevron-down.svg);
    mask-image: url(/resources/img/icons/chevron-down.svg);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    transform: rotate(0deg);
    transition: transform 0.1s ease-in-out;
  }

  &[aria-expanded="true"]::before {
    transform: rotate(-180deg);
  }

  &[aria-expanded="false"] + .extendable {
    display: none;
  }
}

.active-pet-info {
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;

  div {
    margin: 4px;
  }
}

.piece.other-pet {
  margin-bottom: 25px;
  content-visibility: visible;
}

.pet-name {
  text-transform: capitalize;
  font-weight: 700;
}

.other-pet-level {
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
}

.missing-pet,
.missing-accessory {
  filter: grayscale(0.8);
  transition: filter 0.2s;

  &:hover,
  &:focus,
  &.sticky-stats {
    filter: grayscale(0);
  }
}

#inventory_container {
  display: inline-block;
  background-color: rgba(var(--background-rgb), 0.3);
  padding: 20px;
  position: relative;
  margin-bottom: 0;
  border-radius: 10px;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }

  #inventory_header {
    position: absolute;
    top: 6px;
    left: 5px;
    right: 5px;
    height: 50px;
    margin-top: 5px;
    overflow: hidden;
    @supports (overflow: clip) {
      overflow: clip;
    }

    .inventory-header-line {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 3px;
      height: 2px;
      background-color: var(--icon-hex);
      z-index: 2;
    }

    .inventory-tabs-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 4px;

      .inventory-tab {
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        display: inline-block;
        height: 90%;
        padding: 0;
        padding-right: 10px;
        margin-left: 5px;
        border: none;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        transition: color 0.1s;
        cursor: pointer;
        vertical-align: top;
        background: none;
        color: rgba(var(--text-rgb), 0.8);
        outline-offset: -2px;

        &:first-child {
          margin-left: 10px;
        }

        &:last-child {
          padding-right: 0;
        }

        @media (min-width: 1200px) {
          padding-right: 0;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          height: 2px;
          top: 100%;
          background-color: var(--icon-hex);
          border-radius: 4px;
          transition: height 0.1s, top 0.1s;
        }

        &.active-inventory {
          cursor: default;
          color: rgba(var(--text-rgb), 1);
        }

        &.active-inventory::after,
        &:hover::after {
          height: 8px;
          top: calc(100% - 3px);
        }

        .inventory-tab-icon {
          position: absolute;
          left: 3px;
          top: 50%;
          display: inline-block;
          transform: scale(0.25) translateY(-50%);
          transform-origin: top left;
        }

        .inventory-tab-name {
          margin-left: 38px;
        }
      }
    }

    + * {
      margin-top: 50px;
    }
  }
}

inventory-view {
  display: grid;
  place-content: center center;
  --inventory-width: clamp(300px, calc(100vw - 40px), 700px);
  gap: calc(var(--inventory-width) * 0.01);
  padding: calc(var(--inventory-width) * 0.01);
  grid-template-columns: repeat(9, calc(var(--inventory-width) * 0.1));

  .inventory-slot {
    aspect-ratio: 1;
    position: relative;
    background-color: rgba(var(--text-rgb), 0.04);
    border-radius: 5px;

    @supports not (aspect-ratio: 1) {
      padding-bottom: 100%;
    }
  }

  hr {
    all: unset;
    grid-column: 1 / 10;
    height: calc(var(--inventory-width) * 0.02);
  }
}

.backpack-contents {
  position: relative;
  --inventory-width: 340px;
  margin-bottom: 10px;
  min-height: 60px;

  &:not(.contains-backpack) {
    display: none;
  }

  &:hover .view-backpack {
    opacity: 1;
  }

  .inventory-slot .piece-icon {
    transform: translate(-50%, -50%) scale(0.25);
  }
}

.view-backpack {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  bottom: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
  background-color: rgba(var(--background-rgb), 0.4);
  color: var(--text-hex);
  transition: opacity 0.2s;
  cursor: pointer;
  z-index: 1000;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(var(--background-rgb), 0.6);

  * {
    margin: 0;
  }

  span {
    font-size: 22px;
  }

  small {
    font-size: 11.5px;
  }
}

.external-app {
  display: block;
  text-decoration: none;
  padding: 15px;
  padding-left: 70px;
  position: relative;
  max-width: 380px;
  background-color: rgba(var(--background-rgb), 0.3);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.narrow-info-container-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.narrow-info-container {
  position: relative;
  box-sizing: border-box;
  min-width: min(330px, 100vw);
  padding: 20px;
  padding-top: 50px;
  background-color: rgba(var(--background-rgb), 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.race-containers .narrow-info-container {
  min-width: 270px;
}

.stat-slayer .narrow-info-container {
  padding-bottom: 30px;
}

.stat-dungeons .narrow-info-container {
  padding-bottom: 30px;
}

.narrow-info-container .narrow-info-flexsb {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.slayer {
  display: flex;
  flex-direction: column;
  * {
    flex: 0 0;
  }
}

.slayer-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: inline-block;
  background-size: 32px auto;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.floor-containers {
  content-visibility: auto;
  @supports (contain-intrinsic-size: 350px 212px) {
    contain-intrinsic-size: 350px 212px;
  }
}

.floor-icon {
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
  display: inline-block;
  background-size: 28px auto;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.narrow-info-section-header {
  font-weight: 700;
  text-transform: capitalize;
  color: rgba(var(--text-rgb), 0.8);
  margin-top: 10px;
  margin-bottom: 10px;
}

.slayer-kills {
  display: grid;
  grid-template-columns: repeat(auto-fit, 64px);
  justify-content: center;
  gap: 10px;
  margin-bottom: 1em;
  text-align: center;
}

.slayer-unclaimed {
  color: var(--link-hex);
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin-top: auto;

  & + .slayer-level {
    margin-top: 0;
  }
}

.tier-name {
  text-transform: uppercase;
  color: rgba(var(--text-rgb), 0.7);
  font-weight: 700;
  font-size: 15px;
}

.tier-kills {
  font-weight: 600;
}

.slayer-level {
  align-self: center;
  margin-top: auto;
}

.slayer-bar {
  --overhang: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 14px;
  background-color: rgba(var(--text-rgb), 0.3);
}

.slayer-progress-bar {
  border-radius: 0 !important;
}

.sea-creature {
  position: relative;
  background-color: rgba(var(--background-rgb), 0.3);
  border-radius: 10px;
  width: 140px;
  height: 230px;
  flex-shrink: 0;
}

.sea-creature-name {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 2px solid var(--icon-hex);
  background-color: rgba(var(--background-rgb), 0.2);

  span {
    text-shadow: 0 0 7px rgba(var(--background-rgb), 0.3);
  }
}

.stat-experiments .narrow-info-container hr {
  border: none;
}

.sea-creature-image {
  position: absolute;
  top: 70px;
  left: 20px;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sea-creature-kills {
  position: absolute;
  top: 195px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 4px;
}

.category-header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 32px;
  line-height: 32px;
}

.category-header-maxed {
  font-size: 15px;
  color: var(--gold-hex);
}

.category-header-detail {
  font-size: 17px;
  color: rgba(var(--text-rgb), 0.8);
}

.category-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;

  .item-icon {
    transform: scale(0.25);
    transform-origin: top left;
  }
}

.minion-variant {
  display: inline-block;
  color: rgba(var(--text-rgb), 0.7);

  &:not(:first-child) {
    margin-left: 4px;
  }

  &.minion-crafted {
    color: var(--link-hex);
  }
}

.collections,
.minions,
.stat-farming-crops,
.sea-creatures {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &.sea-creatures {
    gap: 15px;
  }
}

.chip {
  display: grid;
  grid-template-columns: 48px max-content;
  align-items: center;
  padding: 8px;
  background-color: rgba(var(--background-rgb), 0.3);
  border-radius: 8px;

  &::after {
    content: none;
  }

  &[data-missing="true"] {
    filter: grayscale(1);
    opacity: 0.75;
  }

  .chip-icon-wrapper {
    position: relative;
    aspect-ratio: 1;

    @supports not (aspect-ratio: 1) {
      padding-bottom: 100%;
    }

    .item-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.375);
      transform-origin: center center;
    }
  }

  .chip-text {
    padding: 0 8px;
  }
}

.collection-name {
  font-size: 18px;
}

.collection-amount {
  font-size: 14px;
}

.narrow-info-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0 0 7px rgba(var(--background-rgb), 0.3);
  border-bottom: 2px solid var(--icon-hex);
  background-color: rgba(var(--background-rgb), 0.2);
}

.kill-stat {
  position: relative;
  margin-top: 5px;

  div {
    display: inline-block;
    font-weight: 600;
  }
}

.kill-rank {
  width: 36px;
  font-weight: 600;
  text-align: right;
  color: rgba(var(--text-rgb), 0.7);
}

.all-shown .kill-rank {
  width: 46px;
}

.stat-separator {
  color: rgba(var(--text-rgb), 0.7);
}

.kill-amount {
  color: rgba(var(--text-rgb), 0.7);
}

.kills-deaths-container .show-all {
  display: block;
  margin: auto;
  margin-top: 12px;
  border: none;
  padding: 5px 8px;
  background: none;
  font-size: inherit;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--link-hex);

  &:hover,
  &:focus-visible {
    color: var(--hover-hex);
  }

  &:not(.enabled) {
    visibility: hidden;
  }
}

.kills-deaths-container .narrow-info-content {
  padding: 20px;
  margin-top: 37px;
  box-sizing: border-box;
  scrollbar-color: var(--icon-hex) transparent;
}

.narrow-info-content.all-shown {
  overflow-y: scroll;
  padding-bottom: 0;

  .kill-stat:last-child {
    margin-bottom: 35px;
  }
}

.style-scrollbar .narrow-info-content {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--icon-hex);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.stat-misc .kills-deaths-container .narrow-info-container {
  padding: 0;
  padding-top: 0;
}

#dimmer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 7500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  display: grid;
  place-items: center;

  &.show-dimmer {
    visibility: visible;
    opacity: 1;
  }

  .light & {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

#enable_api {
  width: 80vw;
  max-width: calc(90vh / 9 * 16);
  border-radius: 10px;
  transition: visibility 0.3s;

  &:not(.show) {
    visibility: hidden;
  }
}

@media (max-width: 1590px) {
  #skill_levels_container .no-access {
    font-size: 14px;
  }

  #wrapper {
    width: 1120px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1200px) {
  #wrapper {
    margin-left: env(safe-area-inset-left, 0);
    margin-right: env(safe-area-inset-right, 0);
    width: calc(100vw - env(safe-area-inset-left, 0) - env(safe-area-inset-right, 0));
  }

  #player_profile {
    font-size: 25px;
    margin: 25px 0;
  }

  #player_profile .text-stats-for {
    display: none;
  }

  #other_players,
  #other_profiles {
    font-size: 17px;

    .goto-last-played {
      font-size: 12px;
    }
  }

  #other_players {
    min-width: 190px;
  }

  .stat-inventory .stat-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #stats_for_player:focus #other_players,
  #stats_for_profile:focus #other_profiles {
    clip-path: ellipse(200% 200% at 0% 0%);
  }

  #stats_for_player ul .goto,
  #stats_for_profile ul .goto {
    padding: 10px;
    padding-left: 20px;
  }

  #skill_levels_container {
    box-sizing: border-box;

    .no-access {
      text-align: left;
      white-space: normal;
    }
  }

  .info-container-wrapper {
    text-align: center;
  }

  .stat-header::before,
  .stat-header::after {
    display: none;
  }

  #stats_content {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    transition: opacity 0.2s, visibility 0.2s !important;
  }

  #stats_content.show-stats:not(.sticky-stats) {
    visibility: hidden;
    opacity: 0;
  }

  #enable_api {
    border-radius: 0;
    width: 100vw;
    left: 0;
    margin-left: 0;
    height: calc(100vw * 9 / 16);
    margin-top: calc(-1 * ((100vw * 9 / 16) / 2));
  }

  #inventory_container #inventory_header {
    height: 50px;
    padding-top: 5px;
    top: 0;
    text-align: center;

    .inventory-tabs-container .inventory-tab {
      border-radius: 1000px;
      height: 38px;
      margin-left: 10px;
    }

    .inventory-header-line {
      bottom: 10px;
    }
  }

  #inventory_container {
    display: block;
    margin-left: calc(-1 * var(--padding));
    margin-right: calc(-1 * var(--padding));
    margin-top: 0;
    box-sizing: border-box;
    padding: 0;
    padding-top: 10px;
    border-radius: 0;

    #inventory_header + * {
      margin-top: 45px;
    }
  }

  .stat-slayer .narrow-info-container {
    width: calc(100vw / 3 - 85px);
  }

  .narrow-info-container-wrapper {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: calc(-1 * var(--padding));
    margin-right: calc(-1 * var(--padding));
    padding-bottom: 20px;

    > :first-child {
      margin-inline-start: var(--padding);
    }
    > :last-child {
      margin-inline-end: var(--padding);
    }
    // because margin-inline-end gets eaten by the scroll container sometimes
    &::after {
      content: "";
      position: relative;
      flex-shrink: 0;
      height: 1px;
      width: 1px;
      right: 21px; // compensate for the width and the gap
    }
  }
}

.forge-item {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  & + & {
    margin-top: 4px;
  }
}

.forge-slot {
  margin: 0;
  white-space: nowrap;
}

@media (max-width: 800px) {
  .stat-header {
    padding-left: 0;
  }

  .collections,
  .minions,
  .stat-farming-crops,
  .sea-creatures {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: calc(-1 * var(--padding));
    margin-right: calc(-1 * var(--padding));
    content-visibility: auto;
    @supports (contain-intrinsic-size: 200px 64px) {
      contain-intrinsic-size: 200px 64px;
    }

    &.sea-creatures {
      @supports (contain-intrinsic-size: 140px 230px) {
        contain-intrinsic-size: 140px 230px;
      }
      &::after {
        width: 15px; //15px = --padding - gap
      }
    }

    padding-inline-start: var(--padding);
    // because padding-inline-end gets eaten by the scroll container
    &::after {
      content: "";
      display: block;
      width: 22px; //22px = --padding - gap
      flex-shrink: 0;
    }
  }

  .nav-item:not(.active):hover::after {
    height: 2px;
    top: 100%;
  }

  .info-container {
    margin-left: 0;
  }

  #inventory_container #inventory_header {
    white-space: nowrap;

    .inventory-tab:last-child {
      margin-right: 20px;
    }
  }

  .sea-creature-name {
    white-space: break-spaces;
  }
}

@media (max-width: 735px) {
  .inventory-slot .piece-icon {
    transform: translate(-50%, -50%) scale(0.333333);
  }
}

@media (max-width: 520px) {
  #stats_for_player,
  #stats_for_profile {
    font-size: 20px;
    height: 46px;
    line-height: 46px;
  }

  #stats_for_player .emoji {
    vertical-align: middle;
    height: 22px;
    margin-top: -3px;
  }

  #stats_for_profile .emoji {
    vertical-align: middle;
    height: 24px;
    margin-top: -3px;
    margin-left: -3px;
  }

  .rank-tag {
    font-size: 14px;
    height: 28px;
    line-height: 28px;

    .rank-name {
      padding: 0 10px;
    }

    .rank-plus {
      padding-right: 5px;
    }
  }

  .inventory-slot .piece-icon {
    transform: translate(-50%, -50%) scale(0.25);
  }

  .narrow-info-container-wrapper {
    scroll-snap-type: x proximity;

    > * {
      scroll-snap-align: center;
    }
  }
}

@media (max-width: 480px) {
  #show_stats {
    display: block;
  }

  .skill-bars {
    grid-template-columns: 1fr;
  }

  #base_stats_container {
    columns: 1;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
    @supports (overflow: clip) {
      overflow: clip;
    }

    &.show-stats {
      max-height: 500px;
      margin-bottom: 14px;
    }
  }

  #skill_levels_container skill-component {
    width: 100%;
  }

  .wardrobe .wardrobe-set {
    @media (hover: hover) {
      max-height: calc(100vw - 50px);

      &:not(:hover):not(:focus-within) {
        max-height: calc((100vw - 50px) / 4 - 14px);
      }
    }
  }

  .piece {
    width: calc((100vw - 50px) / 4 - 14px);
    height: calc((100vw - 50px) / 4 - 14px);

    &::after {
      width: calc((100vw - 50px) / 4 - 14px);
      height: calc((100vw - 50px) / 4 - 14px);
    }
  }

  #stats_content {
    min-width: unset;
    max-width: unset;
    width: calc(100vw - 30px);

    .item-name {
      .close-lore {
        display: block;
      }
    }
  }

  .narrow-info-container-wrapper {
    scroll-snap-type: x mandatory;
  }

  .narrow-info-container-wrapper:not(.floor-containers) > * {
    scroll-snap-stop: always;
  }
}

@media (max-width: 400px) {
  .piece-icon {
    transform: translate(-50%, -50%) scale(0.4);
  }
}

@media (max-width: 380px) {
  #stats_content {
    width: calc(100vw - 20px);
  }
}

@media (max-width: 350px) {
  .piece-icon {
    transform: translate(-50%, -50%) scale(0.35);
  }
}

bonus-stats {
  .bonus-stat {
    margin: 0 2px;
  }
}

.accessories-extras {
  margin: 16px 0;
  bonus-stats p {
    margin: 0;
  }
}

#techno-support {
  text-align: center;
  padding: 20px;
  margin-left: calc(-1 * var(--padding));
  margin-right: calc(-1 * var(--padding));
  background-color: rgba(var(--background-rgb), 0.6);

  .support-title {
    font-size: 20px;
    font-weight: bold;
  }

  .support-text {
    margin: 0;
    padding-top: 16px;
  }
}
