<% if ('uncategorized' in calculated.misc) { %>
  <div class="category-header">
    <div class="category-icon">
      <div class="item-icon icon-421_0"></div>
    </div>
    
    <span>Uncategorized</span>
  </div>

  <p class="stat-raw-values">
    <% for (const [key, value] of Object.entries(calculated.misc.uncategorized)) { %>
      <% max = value.maxed === true ? 'golden-text': '' %>
      <span class="stat-name <%= max %>"><%= helper.capitalizeFirstLetter(key.split("_").join(" ")); %>: </span>
      <span class="stat-value <%= max %>"><%= value.formatted %> </span>
      <br>
    <% } %>
  </p>
<% } %>