<div class="stat-container stat-bingo">
  <a class="stat-anchor" id="Bingo"></a>
  <h2 class="stat-header">Bingo</h2>
  <div class="stat-content">
    <p class="stat-raw-values">  
      <!-- The amount of bingo profiles the player has played on -->
      <span class="stat-name">Bingo Profiles:</span>
      <span class="stat-value"><%= calculated.bingo.total_profiles.toLocaleString() %></span>
      <br>

      <!-- The amount of bingo goals the player has completed -->
      <span class="stat-name">Completed Goals:</span>
      <span class="stat-value"><%= calculated.bingo.total_completed_goals.toLocaleString() %></span>
      <br>

      <!-- The amount of bingo points the player has gained accross all profiles -->
      <span class="stat-name">Points:</span>
      <span class="stat-value" data-tippy-content="<span class='stat-value'>Total points earned, not current balance.</span><br>"><%= calculated.bingo.total_points.toLocaleString() %></span>
      <br>
    </p>
    
    <div class="category-header">
      <div class="category-icon">
        <div class="item-icon icon-388_0"></div>
      </div><span>Bingo</span>
    </div>

    <% if (items.bingo_card.length > 0) { %>
      <div id="inventory_container">
        <inventory-view inventory-type="bingo_card"></inventory-view>
      </div>
    <% } else { %>
      <p> This player hasn't participated in the latest bingo event.</p>
    <% } %>
  </div>
</div>
