<div class="stat-container stat-islands">
  <a class="stat-anchor" id="Islands"></a>
  <h2 class="stat-header">Islands</h2>

  <% if (sections.check("islands.crimson_isle")) { %>
    <div class="category-header">
      <div class="floor-icon" style="background-image: url(<%= constants.ISLANDS.nether.icon %>)"></div>
      <span><%= constants.ISLANDS.nether.name %></span>
    </div>
    <%- include('./islands/crimson_isle.ejs'); %>
  <% } %>
</div>
