<div class="stat-container stat-skills">
  <a class="stat-anchor" id="Skills"></a>
  <h2 class="stat-header">Skills</h2>
  <div class="stat-content">
    <!-- Mining -->
    <%- include('./skills/mining.ejs', {}) %>

    <!-- Farming -->
    <%- include('./skills/farming.ejs', {}) %>
      
    <!-- Fishing -->
    <%- include('./skills/fishing.ejs', {}) %>

    <!-- Enchanting -->
    <%- include('./skills/enchanting.ejs', {}) %>
  </div>
</div>