{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSameLine": true,
  "printWidth": 999999,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
