<header>
    <div id="site_name">SkyBlock Stats</div>
    <div id="info_button"></div>
    <nav id="top_navigation">
        <li class="tab active" data-tab="general">General</li><li class="tab" data-tab="combat">Combat</li><li class="tab" data-tab="fishing">Fishing</li><li class="tab" data-tab="slayer">Slayer</li>
    </nav>
</header>
