<script>
  function applyProcessedTheme(processedTheme) {
    const element = document.documentElement;
    element.classList.toggle("light", processedTheme.light);
    document.querySelector('meta[name="theme-color"]').content = processedTheme.light ? "#dbdbdb" : "#282828";
    element.setAttribute("style", "");
    for (const key in processedTheme.styles) {
      element.style.setProperty(key, processedTheme.styles[key]);
    }
    document.querySelectorAll('link[rel="icon"]').forEach((favicon) => {
      if (favicon.href.match("logo_square")) {
        favicon.href = processedTheme.logoURL;
      }
    });
    document.querySelector("#enchanted-glint feImage")?.setAttribute("href", processedTheme.enchantedGlint);
  }
  {
    const processedTheme = localStorage.getItem("processedTheme");
    if (processedTheme) {
      applyProcessedTheme(JSON.parse(processedTheme));
    }
  }
</script>
<script type="module" src="/resources/js/<%- fileNameMap['themes'] %>"></script>
<header>
  <div data-tippy-content="Supporting LGBTQ+ rights all around the year! ❤️<br><br>Click for a surprise. :)" class="pride-flag"></div>
  <script>document.querySelector(".pride-flag").classList.add(localStorage.getItem("currentFlag") ?? "logo");</script>
  <a href="/" id="site_name">SkyCrypt</a>
  <button class="header-button expander" id="info-button" aria-expanded="false">
    About
  </button>
  <div id="info-box" class="expandable">
    <div id="info_box_content">
      <p>SkyCrypt is a free open-source stats viewer for Hypixel SkyBlock.</p>
      <p>You can report bugs, suggest features, or contribute to the code on <a class="link link-github" href="https://github.com/SkyCryptWebsite/SkyCrypt" target="_blank" rel="noreferrer">GitHub</a>. It would be much appreciated!</p>
      <p>Join our community on <a class="link link-discord" href="https://discord.gg/cNgADv2kEQ" target="_blank" rel="noreferrer">Discord!</a></p>
      <p>Help keep SkyCrypt ad free by donating on <a class="link link-patreon" href="https://www.patreon.com/shiiyu" target="_blank" rel="noreferrer">Patreon!</a></p>
      <p>The original project, <a href="https://sky.lea.moe">sky.lea.moe</a>, was orginally created by <a class="link link-twitter" href="https://twitter.com/LeaPhant" target="_blank" rel="noreferrer">LeaPhant</a>. Thanks for all of what you've done Lea!</p>
      <h4>Used Resources:</h4>
      <ul class="info-box__resources">
        <li>Custom Textures:
          <ul>
            <li><a rel="noreferrer" href="https://hypixel.net/threads/4101579" target="_blank">FurfSky Reborn</a> by <span class="name">The Reborn Team</span></li>
            <li><a rel="noreferrer" href="https://hypixel.net/threads/3470904" target="_blank">RNBW+</a> by <span class="name">rainbowcraft2</span></li>
            <li><a rel="noreferrer" href="https://hypixel.net/threads/2103515" target="_blank">Hypixel Skyblock Pack</a> by <span class="name">Packs HQ</span></li>
            <li><a rel="noreferrer" href="https://hypixel.net/threads/4174260" target="_blank">Hypixel Plus</a> by <span class="name">ic22487</span></li>
            <li><a rel="noreferrer" href="https://hypixel.net/threads/2147652" target="_blank">Vanilla+</a> by <span class="name">TBlazeWarriorT</span></li>
            <li><a rel="noreferrer" href="https://hypixel.net/threads/3597207" target="_blank">Worlds and Beyond</a> by <span class="name">Skeletony_</span></li>
            <li><a rel="noreferrer" href="https://www.minecraft.net/" target="_blank">Default Minecraft Textures</a> by <span class="name">Mojang</span></li>
          </ul>
        </li>
        <li>Background Image:
          <ul>
            <li>Resource Pack: <a rel="noreferrer" href="https://www.planetminecraft.com/texture_pack/16x132-dandelion-cute-and-swirly/" target="_blank">Dandelion</a> by <span class="name">Steelfeathers</span></li>
            <li>Shaders: <a rel="noreferrer" href="https://sildurs-shaders.github.io/" target="_blank">Sildur's Vibrant Shaders</a> by <span class="name">Sildur</span></li>
            <li>April Fools 2024: <a rel="noreferrer" href="https://wall.alphacoders.com/big.php?i=684569" target="_blank">Wallpaper</a> by <span class="name">Tinkerbell</span></li>
          </ul>
        </li>
        <li>Libraries:
          <ul>
            <li><a rel="noreferrer" href="https://twemoji.twitter.com/" target="_blank">Twemoji</a> by <span class="name">Twitter</span></li>
            <li><a rel="noreferrer" href="https://github.com/bs-community/skinview3d/" target="_blank">skinview3d</a> by <span class="name">Blessing Skin</span></li>
          </ul>
        </li>
        <li>Weight Calculations:
          <ul>
            <li><a rel="noreferrer" href="https://elitebot.dev/" target="_blank">Farming Weight</a> by <span class="name">Elite Farmers</span></li>
          </ul>
        </li>
        <li>Networth: <a rel="noreferrer" href="https://www.npmjs.com/package/skyhelper-networth" target="_blank">SkyHelper Networth</a> by <span class="name">SkyHelper</span></li>
        <li>Player Heads: <a rel="noreferrer" href="https://hypixel.net/forums/skyblock.157/" target="_blank">SkyBlock</a> by <span class="name">Hypixel</span></li>
        <li>Data: <a rel="noreferrer" href="https://api.hypixel.net/" target="_blank">Hypixel API</a> by <span class="name">Hypixel</span></li>
      </ul>
    </div>
  </div>

  <a href="/api" style="text-decoration: none;" class="header-button" id="api_button">API</a>
  <form class="lookup-player">
    <input name="ign" type="search" enterkeyhint="go" placeholder="Enter username" aria-label="username" required>
    <button type="submit">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <title>search</title>
        <path fill="currentColor" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
      </svg>
    </button>
  </form>
  <a href="https://blacklivesmatters.carrd.co/" target="_blank" rel="noreferrer" data-tippy-content="<strong>Black Lives Matter!</strong><br><br>Click for a collection of links on how to support the fight against racial inequality." class="blm-logo" aria-label="Black Lives Matter"></a>
  
  <button id="settings-button" class="expander" aria-expanded="false">
    <svg viewBox="0 0 45.973 45.973">
      <path fill="currentColor" d="M43.454,18.443h-2.437c-0.453-1.766-1.16-3.42-2.082-4.933l1.752-1.756c0.473-0.473,0.733-1.104,0.733-1.774 c0-0.669-0.262-1.301-0.733-1.773l-2.92-2.917c-0.947-0.948-2.602-0.947-3.545-0.001l-1.826,1.815 C30.9,6.232,29.296,5.56,27.529,5.128V2.52c0-1.383-1.105-2.52-2.488-2.52h-4.128c-1.383,0-2.471,1.137-2.471,2.52v2.607 c-1.766,0.431-3.38,1.104-4.878,1.977l-1.825-1.815c-0.946-0.948-2.602-0.947-3.551-0.001L5.27,8.205 C4.802,8.672,4.535,9.318,4.535,9.978c0,0.669,0.259,1.299,0.733,1.772l1.752,1.76c-0.921,1.513-1.629,3.167-2.081,4.933H2.501 C1.117,18.443,0,19.555,0,20.935v4.125c0,1.384,1.117,2.471,2.501,2.471h2.438c0.452,1.766,1.159,3.43,2.079,4.943l-1.752,1.763 c-0.474,0.473-0.734,1.106-0.734,1.776s0.261,1.303,0.734,1.776l2.92,2.919c0.474,0.473,1.103,0.733,1.772,0.733 s1.299-0.261,1.773-0.733l1.833-1.816c1.498,0.873,3.112,1.545,4.878,1.978v2.604c0,1.383,1.088,2.498,2.471,2.498h4.128 c1.383,0,2.488-1.115,2.488-2.498v-2.605c1.767-0.432,3.371-1.104,4.869-1.977l1.817,1.812c0.474,0.475,1.104,0.735,1.775,0.735 c0.67,0,1.301-0.261,1.774-0.733l2.92-2.917c0.473-0.472,0.732-1.103,0.734-1.772c0-0.67-0.262-1.299-0.734-1.773l-1.75-1.77 c0.92-1.514,1.627-3.179,2.08-4.943h2.438c1.383,0,2.52-1.087,2.52-2.471v-4.125C45.973,19.555,44.837,18.443,43.454,18.443z M22.976,30.85c-4.378,0-7.928-3.517-7.928-7.852c0-4.338,3.55-7.85,7.928-7.85c4.379,0,7.931,3.512,7.931,7.85 C30.906,27.334,27.355,30.85,22.976,30.85z" />
    </svg>
    <span>Settings</span>
  </button>
  <settings-list id="settings-box" class="expandable list"></settings-list>
</header>
<noscript style="
  position: fixed;
  top: 48px;
  width: 100%;
  background-color: #000;
  color: #ff4444;
  font-size: 8vw;
  z-index: 10000;
">
  please enable JavaScript!
</noscript>

