<%
    const patrons = [
        "WitchOfFrost",
        "Steini225",
        "Nymad",
        "Reyzor",
        "Tauerr",
        "Scott"
    ];

    patrons.forEach((patron, index) => { %>
        <span class="patron piece-legendary-fg"><%= patron %></span><%= index < patrons.length - 1 ? ', ' : '' %>
    <% });
%>
