# This CI Workflow was deployed and configured by WarpWing.
name: SkyCrypt CI Workflow

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  NODE_VERSION: 14.x

jobs:
  build:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["${{ env.NODE_VERSION }}"]
        redis-version: [6]
        mongodb-version: [4.4]
    steps:
    - name: Git checkout
      uses: actions/checkout@v1

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Start Redis ${{ matrix.redis-version }}
      uses: supercharge/redis-github-action@1.1.0
      with:
        redis-version: ${{ matrix.redis-version }}

    - name: Start MongoBongo ${{ matrix.mongodb-version }}
      uses: supercharge/mongodb-github-action@1.3.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}
        
    - name: Run NPM Build Process
      run: npm ci
      run: npm run build --if-present
  

